{{#bs-modal title="Entropy Viewer"
            body=false
            footer=false
            open=showEntropyViewer
            autoClose=false
            closeAction=attrs.close}}
  {{#bs-modal-body}}
    {{bs-button action="togglePolling"
                defaultText=(if random.pollingEnabled 'Pause' 'Resume')
                class="pull-right"}}
    {{entropy-meter completeText=(if random.pollingEnabled 'Harvesting Entropy' 'Entropy Harvesting Paused')}}
    <div class="clearfix"></div>
    <p>This is the active entropy in the system at this time.</p>
    {{entropy-viewer}}
  {{/bs-modal-body}}
  {{bs-modal-footer closeTitle="Close"}}
{{/bs-modal}}
