<nav class="tab-bar {{statusClass}}" role="navigation">
  <ul>
    {{#link-to "index" tagName="li" class="clickable" href=false}}
      <span class="glyphicon glyphicon-lock"></span><br>Roll
    {{/link-to}}
    {{#link-to "entropy" tagName="li" class="clickable" href=false}}
      <span class="glyphicon glyphicon-dashboard"></span><br>Entropy
    {{/link-to}}
    {{#link-to "words" tagName="li" class="clickable" href=false}}
      <span class="glyphicon glyphicon-list-alt"></span><br>Words
    {{/link-to}}
    {{#link-to "about" tagName="li" class="clickable" href=false}}
      <span class="glyphicon glyphicon-info-sign"></span><br>About
    {{/link-to}}
    <li class="clickable" {{action "togglePolling"}}>
      <span class="glyphicon {{statusIcon}}"></span><br>
      {{#if randomPaused}}Harvest{{else}}Pause{{/if}}
    </li>
  </ul>
</nav>
