<div class="row">
  <div class="col-md-12">
    <h1>
      Entropy Harvesting Statistics
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <p>
      This is the active entropy in the system at this time.
      {{bs-button action="togglePolling"
                  defaultText=(if random.isPolling 'Pause' 'Resume')}}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <pre><code>{{random.sample}}</code></pre>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    {{dice-code keys=sampleDice}}
  </div>
</div>
