<div class="row">
  <div class="col-md-6">
    {{paginate-controls page=page
                        firstPage=firstPage
                        lastPage=lastPage
                        count=filteredKeys.length
                        gotoPage=(action "gotoPage")}}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {{words-search value=searchBy update=(action "searchUpdate")}}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {{words-view words=words
                 diceCodes=paginatedKeys
                 noResultsText="No words with that number."}}
  </div>
</div>
